<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Explore hospitals</ion-title>

    <ion-buttons slot="end">
      <ion-fab-button size="small" color="tertiary" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <ion-list> 
    <app-hospital-element *ngFor="let hospital of hospitals" [hospital]="hospital" [routerLink]="hospital.id"></app-hospital-element>
  </ion-list>

</ion-content>
